doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js')
    script(type='text/javascript' src='/javascripts/createaccount.js')
    script(type='text/javascript' src='/javascripts/removeaccount.js')

  body
    block content
